.App {
}

.App-logo {
  height: 110px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  padding-left: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.addMod{
    border: 1px solid #ddd;
    padding: 10px;
    min-height: 80px;
    margin: 0 10px;
}
.addModImage{
    width:80px;
    height:80px;
    position: absolute;
}
.addModForm{
    margin-left: 90px;
}
.newModDiv{
    width:20%;
    margin-bottom: 5px;
}
.newModInput{
    float:right;
}

.newModSubmit{
    left: 35%;
    position: absolute;
    margin-top: -63px;
    background-color: lightblue;
    border: darkblue 1px solid;
    padding: 8px;
    border-radius: 6px;
}