li {
  list-style: none;
  border: 1px solid #ddd;
  padding: 10px 10px 10px 100px;
  min-height: 80px;
  margin: 0 10px;

  img {
    position: absolute;
    left: 20px;
    width: 80px;
    height: 80px;
  }

  input[name='title'] {
    font-size: 120%;
  }

  .description {
    display: block; width: 100%;
    font-size: 90%;
    clear: both;
    white-space: pre;
    line-height: 1;
    margin-top: 1em;
    font-family: sans-serif;


    green {
      color: green;
    }
  }

  textarea.description {
    min-height: 50px;
    border: none;
  }

  input {
    display: block;
    width: 100%;
    font-size: 100%;
    border: none;
  }
}
.file-input{
  display:none;
}