li {
  list-style: none;
  border: 1px solid #ddd;
  padding: 10px;
  min-height: 80px;
  margin: 0 10px;
  cursor: pointer;

  img {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .title {
    display: block;
    font-size: 120%;
  }

  .author {
    display: block;
  }

  .description {
    display: block;
    font-size: 90%;
    clear: both;
  }
}
